#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  nav > span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  